[submodule "tta.dev"]
	path = tta.dev
	url = https://github.com/theinterneti/tta.dev.git
	branch = main
[submodule "tta.prototype"]
	path = tta.prototype
	url = https://github.com/theinterneti/tta.prototype.git
[submodule "tta.prod"]
	path = tta.prod
	url = https://github.com/theinterneti/tta.prod.git
